/* LAYOUT CSS */

.ko,
.ko *{
    font-family: 'Gowun Dodum', "맑은 고딕", '돋움', 'Noto Sans KR', sans-serif;
}
.en,
.en *{
    font-family: 'Inter', 'Noto Sans KR', sans-serif;
}

h1 {
    position: relative;
    width: 50px;
    height: 50px;
    background: url(../img/logo.png)no-repeat;
    background-size: cover;
}
h1 a {
    display: block;
    width: 100%;
    height: 100%;
    
}

.titWr{
    text-align: center;
}
.tit {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
}
.tag {
    display: block;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    color: #ECC3B2;
    font-weight: bold;
    font-family: 'Inter';
}

header {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10rem;
    padding: 0 20rem;
    text-align: center;
    transition: all 0.3s;
}
header.drop {
    box-shadow: 0px 5px 20px rgba(243, 133, 118, 0.08);
    backdrop-filter: blur(5px);
}

header > div {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
header > div.show {
    top: 0;
}
header > div .nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
header .nav_home .nav {
    left: 0;
    text-align: left;
}
header .nav_cont{
    left: 0;
}
header .nav_cont .nav {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header .nav li {
    display: inline-block;
    height: 100%;
    line-height: 50px;
}
header .nav_cont .nav li.pick a {
    color: #F8B5AC;
}
header .nav_cont .nav li.pick a::after {
    width: 100%;
    left: 0;
}
header .nav_home li {
    margin-right: 80px;
}
header .nav_cont li {
    margin: 0 65px;
}
header .nav li a {
    position: relative;
    font-size: 18px;
    transition: all .3s;
}
header .nav_home li a {
    position: relative;
    font-size: 20px;
    transition: all .3s;
}
header .nav li a:hover {
    color: #F8B5AC;
}
header .nav li > a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: #F38576;
    transition: all .3s;
}
header .nav li:hover > a::after {
    width: 100%;
    left: 0;
}

.main {
    width: 100%;
    height: 100vh;
}
section {
    position: relative;
    width: 100%;
    height: auto;
}
section .box{
    width: 100%;
    height: 100%;
    padding: 10rem 20rem;
}