/* MEDIAQUERY */

@media screen and (min-width: 1400px) and (max-width: 1750px) {
    .contents > section {
        width: 100%;
        height: 100vh;
        padding: 100px 80px;
    }

    .main .main_box .main_left .slogun_wrap .slogun {
        font-size: 40px;
        line-height: 60px;
    }
    .main .main_box .img_box .img_me > div {
        background-size: 80% auto;
    }
    .main .main_box .img_box .blob_wrap {
        position: absolute;
        top: 30%;
        right: 80px;
        width: 100%;
        height: 70%;
    }

    .contents .about .about_right {
        padding-top: 100px;
        padding-left: 0px;
    }
    .contents .about .about_right .experience {
        padding-left: 20px;
    }

    .contents .skills .graph {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .contents .project .project_cont {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 100px 100px;
    }
    .slide__figure {
        height: 550px;
        width: 630px;
    }
    .slides-nav {
        z-index: 99;
        position: absolute;
        right: 600px;
        bottom: 0;
        height: 220px;
        color: #111;
    }
    .slide__title .tit{
        font-size: 40px;
        font-weight: 700;
    }
    .slide__title .lang {
        margin-top: 18px;
        font-size: 18px;
    }

    footer .footer_inner .txt_wrap h2 {
        font-size: 26px;
    }
    footer .footer_inner {
        width: 80%;
        height: 65%;
    }
    footer .footer_inner .img_wrap {
        width: 45%;
    }
    footer .footer_inner .img_wrap .img {
        height: 430px;
    }
    footer .footer_inner .txt_wrap {
        width: 55%;
    }

    @media screen and (min-width: 1400px) and (max-width: 1475px) {
        .contents .skills .animation .chart{
            margin: 20px 50px; 
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1399px) {
    header {
        height: 80px;
        padding: 0 100px;
    }
    header .nav li {
        float: left;
        margin: 0 30px;
    }
    header .contact {
        right: 100px;
        width: 40px;
        height: 40px;
    }
    header .contact .txt {
        line-height: 40px;
        font-size: 16px;
    }
    header .contact:hover {
        width: 150px;
    }

    .contents > section {
        width: 100%;
        height: 100vh;
        padding: 80px 80px;
    }

    .main .main_box .main_left .slogun_wrap .slogun {
        font-size: 40px;
        line-height: 60px;
    }
    .main .main_box .img_box .img_me > div {
        background-size: 80% auto;
        background-position: 50%;
    }
    .main .main_box .img_box .blob_wrap {
        position: absolute;
        top: 30%;
        right: 80px;
        width: 100%;
        height: 70%;
    }

    .main .main_box .main_left .slogun_wrap {
        left: 20%;
    }
    .main .main_box .main_left .slogun_wrap .slogun {
        width: 100%;
        font-size: 35px;
        line-height: 50px;
    }
    .main .main_box .deco1 {
        right: 6%;
        top: 18%;
        width: 150px;
        height: 250px;
    }
    .main .main_box .deco2 {
        position: absolute;
        left: 8%;
        bottom: 6%;
        width: 250px;
        height: 250px;
        background-size: contain;
    }
    .main .main_box .img_box .img_me {
        left: 0;
        bottom: 0;
    }
    .main .main_box .img_box .blob_wrap {
        position: absolute;
        top: 30%;
        right: 5%;
        width: 100%;
        height: 70%;
    }
    

    h2 {
        font-size: 24px;
    }
    h2 span {
        font-size: 13px;
        letter-spacing: 2px;
        margin-bottom: 0px;
    }

    .contents .about .box .about_img {
        bottom: 0;
        left: 0;
        width: 80%;
        height: 90%;
    }
    .contents .about .about_right {
        padding-top: 20px;
        padding-left: 0;
    }
    .contents .about .about_right .info_top {
        margin-top: 30px;
    }
    .contents .about .about_right  dd {
        padding: 3px 0;
    }
    .contents .about .about_right .experience {
        padding-left: 0px;
        margin-top: 10px;
    }
    .contents .about .about_right .info_bot {
        margin-top: 10px;
    }
    

    .contents .skills .graph {
        margin-top: 30px;
    }
    .contents .skills .animation{
        width: 100%; 
        margin: 0 auto; 
    }
    .contents .skills .animation .chart{
        margin: 30px 40px; 
        position: relative;
    }
    .contents .skills .animation .chart p {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        padding-top: 10px;
    }

    @media screen and (min-width: 1160px) and (max-width: 1365px) {
        .contents .skills .animation .chart{
            margin: 20px 30px; 
        }
    }
    @media screen and (min-width: 1075px) and (max-width: 1159px) {
        .contents .skills .animation .chart{
            margin: 10px 20px; 
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1074px) {
        .contents .skills .animation .chart{
            margin: 10px 10px; 
        }
    }

    
    
    .contents .project .project_cont {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 100px 50px;
    }
    .contents .project .project_cont .project_web_bg {
        width: 100%;
        height: 60%;
    }
    .slide__header {
        bottom: 80px;
    }
    .slide__title .tit{
        font-size: 34px;
        font-weight: 700;
    }
    .slide__title .lang {
        margin-top: 18px;
        font-size: 16px;
    }
    .slide__figure {
        height: 100%;
        width: 50%;
        right: 0;
        bottom: 80px;
    }
    .slides-nav {
        z-index: 99;
        position: absolute;
        right: 48%;
        bottom: 0;
        height: 150px;
        color: #111;
    }
    .slide__title .project_btn a {
        width: 160px;
        height: 50px;
        text-align: left;
        line-height: 50px;
        letter-spacing: 2px;
        margin-right: 10px;
        padding-left: 20px;
    }
    

    footer .footer_inner .txt_wrap h2 {
        font-size: 22px;
    }
    footer .footer_inner {
        width: 85%;
        height: 70%;
    }
    footer .footer_inner .img_wrap {
        width: 45%;
    }
    footer .footer_inner .img_wrap .img {
        height: 430px;
    }
    footer .footer_inner .txt_wrap {
        width: 55%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        height: 80px;
        padding: 0 50px;
    }
    header .nav li {
        margin: 0 20px;
    }
    header .contact {
        right: 50px;
        width: 40px;
        height: 40px;
    }
    header .contact .txt {
        line-height: 40px;
        font-size: 16px;
    }
    header .contact:hover {
        width: 150px;
    }


    .main .main_box .main_left {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .main .main_box .main_left .slogun_wrap {
        left: 0;
    }
    .main .main_box .main_left .slogun_wrap .slogun {
        width: 100%;
        font-size: 26px;
        line-height: 50px;
    }
    .main .main_box .resume a {
        position: relative;
        background: #ECC3B2;
        color: #fff;
        padding: 10px 45px 10px 25px;
        text-align: left;
        margin-right: 20px;
    }

    .main .main_box .deco1 {
        right: 6%;
        top: 18%;
        width: 130px;
        height: 230px;
    }
    .main .main_box .deco2 {
        position: absolute;
        left: 8%;
        bottom: 6%;
        width: 200px;
        height: 200px;
        background-size: contain;
    }
    .main .main_box .img_box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 60%;
    }
    .main .main_box .img_box .img_me {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .main .main_box .img_box .img_me > div {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: url(../img/me11.png)no-repeat;
        background-size: auto 100%;
        background-position: center 0%;
    }
    .main .main_box .img_box .blob_wrap {
        position: absolute;
        top: auto;
        bottom: 0;
        right: -5%;
        width: 100%;
        height: 100%;
    }
    

    h2 {
        font-size: 24px;
    }
    h2 span {
        font-size: 13px;
        letter-spacing: 2px;
        margin-bottom: 0px;
    }

    .contents > section {
        width: 100%;
        height: 100vh;
        padding: 80px 20px;
    }
    .contents .about .box {
        position: relative;
    }
    .contents .about .box > div {
        position: absolute;
        height: 100%;
    }
    .contents .about .box .about_left {
        width: 58%;
        bottom: 0;
        left: 0;
    }
    .contents .about .box .about_img {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
    }
    .contents .about .box .about_img .img {
        background-size: auto 90%;
    }
    .contents .about .about_right {
        right: 0;
        top: 0;
        z-index: 2;
        padding-top: 80px;
        padding-left: 0;
    }
    .contents .about .about_right .info_top {
        margin-top: 30px;
    }
    .contents .about .about_right  dd {
        padding: 3px 0;
    }
    .contents .about .about_right .experience {
        padding-left: 0px;
        margin-top: 10px;
    }
    .contents .about .about_right .info_bot {
        margin-top: 10px;
    }
    

    .contents .skills {
        height: 75vh;
    }
    .contents .skills > .box {
        background: #F6EAE4;
        padding: 40px 10px;
        border-radius: 30px;
    }
    .contents .skills .graph {
        margin-top: 0px;
    }
    .contents .skills .animation{
        margin: 1rem auto; 
    }
    .contents .skills .animation .chart{
        margin: 20px 20px; 
        position: relative;
    }
    .contents .skills .animation .chart p {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        padding-top: 10px;
    }
    @media screen and (min-width: 768px) and (max-width: 853px) {
        .contents .skills .animation .chart{
            margin: 10px 8px; 
        }
    }

    
    .contents .project {
        height: 70vh;
    }
    .contents .project .project_cont {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 100px 20px;
    }
    .contents .project .project_cont .project_web_bg {
        width: 100%;
        height: 60%;
    }
    .slide__header {
        bottom: 80px;
    }
    .slide__title .tit{
        font-size: 30px;
        font-weight: 700;
    }
    .slide__title .lang {
        margin-top: 15px;
        font-size: 16px;
    }
    .slide__figure {
        height: 90%;
        width: 50%;
        right: 0;
        bottom: 80px;
    }
    .slides-nav {
        z-index: 99;
        position: absolute;
        right: 48%;
        bottom: 0;
        height: 150px;
        color: #111;
    }
    .slide__title .project_btn a {
        width: 160px;
        height: 50px;
        text-align: left;
        line-height: 50px;
        letter-spacing: 2px;
        margin-right: 10px;
        padding-left: 20px;
    }
    

    footer {
        height: 60vh;
    }
    footer .footer_inner .txt_wrap h2 {
        font-size: 18px;
    }
    footer .footer_inner {
        width: 85%;
        height: 70%;
    }
    footer .footer_inner .img_wrap {
        width: 45%;
    }
    footer .footer_inner .img_wrap .img {
        height: 430px;
        background-position: center 100%;
    }
    footer .footer_inner .txt_wrap {
        width: 55%;
    }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    header {
        height: 80px;
        padding: 0 20px;
    }
    header .nav li {
        margin: 0 8px;
    }
    header .nav li a {
        font-size: 16px;
    }
    header .contact {
        right: 20px;
        width: 40px;
        height: 40px;
    }
    header .contact:hover {
        width: 40px;
    }
    header .contact:hover .icon {
        display: block;
    }
    header .contact:hover .txt {
        display: none;
    }

    .main .main_box .main_left {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        text-align: center;
        z-index: 9;
    }
    .main .main_box .main_left .slogun_wrap {
        left: 0;
    }
    .main .main_box .main_left .slogun_wrap .slogun {
        width: 100%;
        font-size: 26px;
        line-height: 50px;
    }
    .main .main_box .resume {
        margin-top: 30px;
    }
    .main .main_box .resume a {
        position: relative;
        background: #ECC3B2;
        color: #fff;
        padding: 8px 45px 8px 25px;
        text-align: left;
        margin-right: 20px;
    }

    .main .main_box .deco1 {
        right: 6%;
        top: 18%;
        width: 130px;
        height: 230px;
    }
    .main .main_box .deco2 {
        position: absolute;
        left: 8%;
        bottom: 6%;
        width: 200px;
        height: 200px;
        background-size: contain;
    }

    .main .main_box .img_box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .main .main_box .img_box .img_me {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80%;
    }
    .main .main_box .img_box .img_me > div {
        background-size: 80% auto;
        background-position: center 100%;
    }
    .main .main_box .img_box .blob_wrap {
        position: absolute;
        top: 35%;
        left: 10%;
        width: 100%;
        height: 60%;
    }
    

    h2 {
        font-size: 24px;
    }
    h2 span {
        font-size: 13px;
        letter-spacing: 2px;
        margin-bottom: 0px;
    }

    .contents > section {
        width: 100%;
        height: 100vh;
        padding: 80px 10px;
    }

    .contents .about .box .about_left {
        display: none;
    }
    .contents .about .box .about_right {
        width: 100%;
        height: 100%;
    }
    .contents .about .about_right {
        padding-top: 20px;
        padding-left: 0;
    }
    .contents .about .about_right .info_top {
        margin-top: 30px;
    }
    .contents .about .about_right  dd {
        padding: 3px 0;
    }
    .contents .about .about_right .experience {
        padding-left: 0px;
        margin-top: 20px;
    }
    .contents .about .about_right .info_bot {
        margin-top: 20px;
    }
    
    .contents .skills {
        height: 1200px;
    }
    .contents .skills > .box {
        background: #F6EAE4;
        padding: 20px 10px;
        border-radius: 30px;
    }
    .contents .skills .graph {
        margin-top: 0px;
    }
    .contents .skills .animation{
        margin: 1rem auto; 
    }
    .contents .skills .animation .chart{
        margin: 20px 20px; 
        position: relative;
    }
    .contents .skills .animation .chart p {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        padding-top: 10px;
    }

    
    
    .contents .project .project_cont {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 100px 20px;
    }
    .contents .project .project_cont .project_web_bg {
        width: 100%;
        height: 60%;
    }
    .slide__header {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        padding: 50px 0;
    }
    .slide__title .tit{
        font-size: 30px;
        font-weight: 700;
    }
    .slide__title .lang {
        margin-top: 12px;
        font-size: 16px;
    }
    .slide__figure {
        position: relative;
        height: 50%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .slides-nav {
        z-index: 99;
        position: absolute;
        right: 0;
        bottom: 42%;
        height: auto;
        color: #111;
    }
    .slides-nav__nav {
        position: relative;
        right: 0;
        display: block;
        font-size: 1em;
        transform: rotate(0);
        transform-origin: center;
        }
    .slide__title .project_btn {
        margin-top: 30px;
        }
    .slide__title .project_btn a {
        width: 160px;
        height: 50px;
        text-align: left;
        line-height: 50px;
        letter-spacing: 2px;
        margin-right: 10px;
        padding-left: 20px;
    }
    

    footer {
        height: 800px;
    }
    footer .footer_inner .txt_wrap h2 {
        font-size: 18px;
    }
    footer .footer_inner {
        position: absolute;
        width: 85%;
        height: 70%;
    }
    footer .footer_inner .img_wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
    }
    footer .footer_inner .img_wrap .img {
        height: 120%;
        background-position: center 100%;
        background-size: auto 100%;
    }
    footer .footer_inner .txt_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        transform: translate(0);
        text-align: center;
        padding: 40px 0;
    }
    footer .footer_inner .txt_wrap p {
        margin-top: 10px;
    }
}

@media screen and  (max-width: 425px) {
    header {
        height: 80px;
        padding: 0 20px;
    }
    header h1 {
        width: 40px;
        height: 40px;
    }
    header .nav li {
        margin: 0 5px;
    }
    header .nav li a {
        font-size: 14px;
    }
    header .contact {
        right: 20px;
        width: 40px;
        height: 40px;
    }
    header .contact:hover {
        width: 40px;
    }
    header .contact:hover .icon {
        display: block;
    }
    header .contact:hover .txt {
        display: none;
    }

    .main .main_box .main_left {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        text-align: center;
        z-index: 9;
    }
    .main .main_box .main_left .slogun_wrap {
        left: 0;
    }
    .main .main_box .main_left .slogun_wrap .slogun {
        width: 100%;
        font-size: 26px;
        line-height: 50px;
    }
    .main .main_box .resume {
        margin-top: 30px;
    }
    .main .main_box .resume a {
        position: relative;
        background: #ECC3B2;
        color: #fff;
        padding: 8px 45px 8px 25px;
        text-align: left;
        margin-right: 20px;
    }

    .main .main_box .deco1 {
        right: 6%;
        top: 18%;
        width: 130px;
        height: 230px;
    }
    .main .main_box .deco2 {
        position: absolute;
        left: 8%;
        bottom: 6%;
        width: 200px;
        height: 200px;
        background-size: contain;
    }

    .main .main_box .img_box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .main .main_box .img_box .img_me {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80%;
    }
    .main .main_box .img_box .img_me > div {
        background-size: 80% auto;
        background-position: center 100%;
    }
    .main .main_box .img_box .blob_wrap {
        position: absolute;
        top: 35%;
        left: 10%;
        width: 100%;
        height: 60%;
    }
    

    h2 {
        font-size: 22px;
    }
    h2 span {
        font-size: 13px;
        letter-spacing: 2px;
        margin-bottom: 0px;
    }

    .contents > section {
        width: 100%;
        height: 100vh;
        padding: 80px 10px;
    }

    .contents .about .box .about_left {
        display: none;
    }
    .contents .about .box .about_right {
        width: 100%;
        height: 100%;
    }
    .contents .about .about_right {
        padding-top: 20px;
        padding-left: 0;
    }
    .contents .about .about_right .info_top {
        margin-top: 30px;
    }
    .contents .about .about_right  dd {
        padding: 3px 0;
    }
    .contents .about .about_right .experience {
        padding-left: 0px;
        margin-top: 20px;
    }
    .contents .about .about_right .info_bot {
        margin-top: 20px;
    }
    
    .contents .skills {
        height: 2000px;
    }
    .contents .skills > .box {
        background: #F6EAE4;
        padding: 20px 10px;
        border-radius: 30px;
    }
    .contents .skills .graph {
        margin-top: 0px;
    }
    .contents .skills .animation{
        margin: 1rem auto; 
    }
    .contents .skills .animation .chart{
        margin: 20px 20px; 
        position: relative;
    }
    .contents .skills .animation .chart p {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        padding-top: 10px;
    }

    
    
    .contents .project .project_cont {
        position: relative;
        width: 100%;
        height: 100vh;
        padding: 100px 20px;
    }
    .contents .project .project_cont .project_web_bg {
        width: 100%;
        height: 60%;
    }
    .slide__header {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        padding: 30px 0;
    }
    .slide__title .tit{
        font-size: 24px;
        font-weight: 700;
    }
    .slide__title .lang {
        margin-top: 12px;
        font-size: 16px;
    }
    .slide__figure {
        position: relative;
        height: 50%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .slides-nav {
        z-index: 99;
        position: absolute;
        right: 0;
        bottom: 42%;
        height: auto;
        color: #111;
    }
    .slides-nav__nav {
        position: relative;
        right: 0;
        display: block;
        font-size: 1em;
        transform: rotate(0);
        transform-origin: center;
        }
    .slide__title .project_btn {
        margin-top: 30px;
        }
    .slide__title .project_btn a {
        width: 150px;
        height: 40px;
        text-align: left;
        line-height: 40px;
        letter-spacing: 2px;
        margin-right: 10px;
        padding-left: 20px;
    }
    

    footer {
        height: 800px;
    }
    footer .footer_inner .txt_wrap h2 {
        font-size: 18px;
    }
    footer .footer_inner {
        position: absolute;
        width: 85%;
        height: 70%;
    }
    footer .footer_inner .img_wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
    }
    footer .footer_inner .img_wrap .img {
        height: 120%;
        background-position: center 100%;
        background-size: auto 100%;
    }
    footer .footer_inner .txt_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        transform: translate(0);
        text-align: center;
        padding: 40px 0;
    }
    footer .footer_inner .txt_wrap h2 {
        margin-bottom: 30px;
    }
    footer .footer_inner .txt_wrap p {
        margin-top: 10px;
    }
}